<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tugasakhir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_petik"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasAkhir"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".daftar_divisi"
            android:label="@string/title_activity_daftar_divisi"
            android:theme="@style/Theme.TugasAkhir.NoActionBar"></activity>
        <activity
            android:name=".daftar_kehadiran"
            android:label="@string/title_activity_daftar_kehadiran"
            android:theme="@style/Theme.TugasAkhir.NoActionBar" />
        <activity
            android:name=".daftar_cuti"
            android:label="@string/title_activity_daftar_cuti"
            android:theme="@style/Theme.TugasAkhir.NoActionBar" />
        <activity
            android:name=".daftar_pegawai"
            android:label="@string/title_activity_daftar_pegawai"
            android:theme="@style/Theme.TugasAkhir.NoActionBar" />
        <activity android:name=".Page.MainActivity" />
        <activity android:name=".Page.Izin" />
        <activity android:name=".Page.Profile" />
        <activity android:name=".Page.Dashboard" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity
            android:name=".Page.MainActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>